.conteudo{
    margin-top: 15%;
    margin-left: 25%;
    margin-right: 25%;
}

.artigo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';    
    text-align: justify;
    font-size: 18px;
}

.tittle{    
    font-size: 56px;
    text-align: left;
}

.objetivo{
    color: #333333;
    font-size: 16px;
}