{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 140,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": ["*.svelte", "*.ts"],
			"options": {
				"parser": "typescript"
			}
		},
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": "translations.ts",
			"options": {
				"parser": "typescript",
				"printWidth": 10000,
				"quoteProps": "preserve"
			}
		}
	]
}
