@import "./reset_styles.css";

@font-face {
  font-family: "Plus Jakarta Sans", sans-serif;
  src: url("../assets/lucasquin-font.ttf");
}

* {
  font-family: lucasquin, sans-serif;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgb(245, 245, 240);
}
