@import url("./resetStyles.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");
@import "./variables.css";

html {
  background: var(--background);
  font-family: "Inter", sans-serif;
}

* {
  transition: font-size .04s ease;
}

body {
  padding: 1rem
}

a {
  color: var(--cyan);
  font-weight: 600;
}

span {
  font-weight: 400;
  font-size: var(--size4);
  color: var(--white);
}
