@import "../../styles/variables.css";

.cssHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cssHeader header {
  margin-top: 50px;
}

.cssHeader header h1 {
  font-weight: 600;
  font-size: var(--size1);
  color: var(--green);
}

.cssHeader header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.cssHeader header nav ul li a {
  font-size: var(--size3);
  color: var(--unselected);
  text-decoration: none;
}
