@import "../../styles/variables.css";

.cssListArticles {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.cssListArticles section {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.cssListArticles section h3 {
  font-weight: 600;
  font-size: var(--size4);
  color: var(--green);
}

.cssListArticles section span {
  font-weight: 400;
  font-size: var(--size5);
  color: var(--white);
}

.cssListArticles section span a {
    font-weight: 600;
  color: var(--cyan);
}
